How to disable netscan? Got abuse complaint from Hetzner after updating to 2.30.0

After updating to 2.30.0 got an automatic email from Hetzner saying that my machine is performing netscan attack. Port 4000 was used by Erigon process. How to disable this type of aggressive peer discovery?

````
##########################################################################
#               Netscan detected from host    65.109.XXX.YYY               #
##########################################################################

time                protocol src_ip src_port          dest_ip dest_port
---------------------------------------------------------------------------
Sat Nov 12 01:28:11 2022 UDP    65.109.XXX.YYY 4000  =>   100.71.171.30 5050 
Sat Nov 12 01:31:25 2022 UDP    65.109.XXX.YYY 4000  =>   100.71.171.30 5050 
Sat Nov 12 01:28:17 2022 TCP    65.109.XXX.YYY 45142 =>    10.100.140.3 39999
Sat Nov 12 01:31:00 2022 TCP    65.109.XXX.YYY 59220 =>    10.100.140.3 39999
Sat Nov 12 01:31:30 2022 UDP    65.109.XXX.YYY 4000  => 199.101.171.155 30303
Sat Nov 12 01:31:23 2022 TCP    65.109.XXX.YYY 58188 =>       10.0.0.16 9000 
Sat Nov 12 01:32:25 2022 TCP    65.109.XXX.YYY 47304 =>      10.0.1.199 9000 
Sat Nov 12 01:32:26 2022 TCP    65.109.XXX.YYY 47488 =>      10.0.1.199 9000 
Sat Nov 12 01:32:26 2022 TCP    65.109.XXX.YYY 47524 =>      10.0.1.199 9000 
Sat Nov 12 01:32:26 2022 TCP    65.109.XXX.YYY 48730 =>        10.1.0.3 9000 
Sat Nov 12 01:30:56 2022 TCP    65.109.XXX.YYY 37224 =>       10.19.0.5 9000 
Sat Nov 12 01:32:01 2022 TCP    65.109.XXX.YYY 44860 =>       10.19.0.5 9000 
Sat Nov 12 01:32:34 2022 TCP    65.109.XXX.YYY 48480 =>       10.19.0.5 9000 
Sat Nov 12 01:31:58 2022 TCP    65.109.XXX.YYY 43362 =>       10.19.0.9 9000 
Sat Nov 12 01:32:25 2022 TCP    65.109.XXX.YYY 43882 =>      10.19.0.19 9000 
Sat Nov 12 01:31:58 2022 TCP    65.109.XXX.YYY 54786 =>     10.20.1.185 9000 
Sat Nov 12 01:31:58 2022 TCP    65.109.XXX.YYY 54488 =>     10.20.10.22 9000 
Sat Nov 12 01:30:56 2022 TCP    65.109.XXX.YYY 58984 =>      10.114.0.2 9000 
Sat Nov 12 01:32:01 2022 TCP    65.109.XXX.YYY 38402 =>      10.114.0.2 9000 
Sat Nov 12 01:32:34 2022 TCP    65.109.XXX.YYY 42014 =>      10.114.0.2 9000 
Sat Nov 12 01:32:25 2022 TCP    65.109.XXX.YYY 35574 =>     10.114.0.16 9000 
Sat Nov 12 01:31:58 2022 TCP    65.109.XXX.YYY 52688 =>    10.137.0.192 9000 
Sat Nov 12 01:32:03 2022 TCP    65.109.XXX.YYY 35284 =>   10.148.162.54 9000 
Sat Nov 12 01:32:35 2022 TCP    65.109.XXX.YYY 38784 =>   10.148.162.54 9000 
Sat Nov 12 01:30:20 2022 TCP    65.109.XXX.YYY 56132 =>      10.164.1.3 9000 
Sat Nov 12 01:30:20 2022 TCP    65.109.XXX.YYY 33990 =>      10.165.1.4 9000 
Sat Nov 12 01:30:57 2022 TCP    65.109.XXX.YYY 55206 =>  10.212.162.163 9000 
Sat Nov 12 01:31:43 2022 TCP    65.109.XXX.YYY 51544 =>  10.213.162.234 9000 
Sat Nov 12 01:32:32 2022 TCP    65.109.XXX.YYY 56904 =>  10.213.162.234 9000 
Sat Nov 12 01:28:13 2022 TCP    65.109.XXX.YYY 49994 =>    10.229.32.92 9000 
Sat Nov 12 01:31:43 2022 TCP    65.109.XXX.YYY 37534 =>    10.244.97.35 9000 
Sat Nov 12 01:31:43 2022 TCP    65.109.XXX.YYY 37722 =>    10.244.97.35 9000 
Sat Nov 12 01:31:44 2022 TCP    65.109.XXX.YYY 37758 =>    10.244.97.35 9000 
Sat Nov 12 01:32:32 2022 TCP    65.109.XXX.YYY 42880 =>    10.244.97.35 9000 
Sat Nov 12 01:31:23 2022 TCP    65.109.XXX.YYY 54116 =>   100.78.192.71 9000 
Sat Nov 12 01:28:19 2022 UDP    65.109.XXX.YYY 4000  =>     100.96.80.2 9000 
Sat Nov 12 01:30:36 2022 UDP    65.109.XXX.YYY 4000  =>    100.97.73.10 9000 
Sat Nov 12 01:31:05 2022 UDP    65.109.XXX.YYY 4000  =>    100.97.73.10 9000 
Sat Nov 12 01:31:05 2022 TCP    65.109.XXX.YYY 43642 =>    100.97.73.10 9000 
Sat Nov 12 01:31:06 2022 TCP    65.109.XXX.YYY 43642 =>    100.97.73.10 9000 
Sat Nov 12 01:28:30 2022 UDP    65.109.XXX.YYY 4000  =>   100.98.165.10 9000 
Sat Nov 12 01:32:32 2022 TCP    65.109.XXX.YYY 34972 =>      172.18.0.2 9000 
Sat Nov 12 01:32:14 2022 TCP    65.109.XXX.YYY 54552 =>      172.18.0.3 9000 
Sat Nov 12 01:28:13 2022 TCP    65.109.XXX.YYY 57780 =>      172.20.0.7 9000 
Sat Nov 12 01:32:25 2022 TCP    65.109.XXX.YYY 34174 =>      172.22.0.2 9000 
Sat Nov 12 01:31:47 2022 TCP    65.109.XXX.YYY 34894 =>      172.25.0.3 9000 
Sat Nov 12 01:32:25 2022 TCP    65.109.XXX.YYY 46672 =>      172.26.0.3 9000 
Sat Nov 12 01:31:43 2022 TCP    65.109.XXX.YYY 40120 =>    172.26.0.118 9000 
Sat Nov 12 01:32:32 2022 TCP    65.109.XXX.YYY 45462 =>    172.26.0.118 9000 
Sat Nov 12 01:32:14 2022 TCP    65.109.XXX.YYY 42648 =>    172.28.0.101 9000 
Sat Nov 12 01:32:15 2022 TCP    65.109.XXX.YYY 42648 =>    172.28.0.101 9000 
Sat Nov 12 01:28:12 2022 TCP    65.109.XXX.YYY 60352 =>   172.31.24.185 9000 
Sat Nov 12 01:32:32 2022 TCP    65.109.XXX.YYY 42020 =>     172.31.45.9 9000 
Sat Nov 12 01:32:25 2022 TCP    65.109.XXX.YYY 36366 =>   172.31.45.136 9000 
Sat Nov 12 01:28:26 2022 TCP    65.109.XXX.YYY 41838 =>  192.168.16.148 9000 
Sat Nov 12 01:31:51 2022 TCP    65.109.XXX.YYY 60930 =>  192.168.16.148 9000 
Sat Nov 12 01:31:51 2022 TCP    65.109.XXX.YYY 32830 =>  192.168.16.148 9000 
Sat Nov 12 01:31:52 2022 TCP    65.109.XXX.YYY 32874 =>  192.168.16.148 9000 
Sat Nov 12 01:30:03 2022 UDP    65.109.XXX.YYY 4000  =>  93.177.123.139 8957 
Sat Nov 12 01:28:31 2022 TCP    65.109.XXX.YYY 58448 =>      10.180.0.9 9852 
Sat Nov 12 01:31:01 2022 TCP    65.109.XXX.YYY 42958 =>      10.180.0.9 9852 
Sat Nov 12 01:31:09 2022 TCP    65.109.XXX.YYY 43998 =>      10.180.0.9 9852 
Sat Nov 12 01:31:10 2022 TCP    65.109.XXX.YYY 44088 =>      10.180.0.9 9852 
Sat Nov 12 01:31:11 2022 TCP    65.109.XXX.YYY 44180 =>      10.180.0.9 9852 
Sat Nov 12 01:31:12 2022 TCP    65.109.XXX.YYY 44228 =>      10.180.0.9 9852 
Sat Nov 12 01:31:12 2022 TCP    65.109.XXX.YYY 44276 =>      10.180.0.9 9852 
Sat Nov 12 01:31:13 2022 TCP    65.109.XXX.YYY 44320 =>      10.180.0.9 9852 
Sat Nov 12 01:31:13 2022 TCP    65.109.XXX.YYY 44370 =>      10.180.0.9 9852 
Sat Nov 12 01:31:15 2022 TCP    65.109.XXX.YYY 44512 =>      10.180.0.9 9852 
Sat Nov 12 01:31:16 2022 TCP    65.109.XXX.YYY 44512 =>      10.180.0.9 9852 
Sat Nov 12 01:31:17 2022 TCP    65.109.XXX.YYY 44706 =>      10.180.0.9 9852 
Sat Nov 12 01:31:18 2022 TCP    65.109.XXX.YYY 44790 =>      10.180.0.9 9852 
Sat Nov 12 01:31:19 2022 TCP    65.109.XXX.YYY 45008 =>      10.180.0.9 9852 
Sat Nov 12 01:32:25 2022 TCP    65.109.XXX.YYY 54968 =>      10.2.58.59 9001 
Sat Nov 12 01:32:25 2022 TCP    65.109.XXX.YYY 46124 =>      172.18.0.5 9001 
Sat Nov 12 01:32:32 2022 TCP    65.109.XXX.YYY 48690 =>      172.18.0.7 9001 
Sat Nov 12 01:28:32 2022 TCP    65.109.XXX.YYY 41806 =>     10.0.10.220 13000
Sat Nov 12 01:29:18 2022 TCP    65.109.XXX.YYY 45406 =>     10.0.10.220 13000
Sat Nov 12 01:29:21 2022 TCP    65.109.XXX.YYY 45406 =>     10.0.10.220 13000
Sat Nov 12 01:31:25 2022 TCP    65.109.XXX.YYY 57418 =>     10.0.10.220 13000
Sat Nov 12 01:31:27 2022 TCP    65.109.XXX.YYY 57418 =>     10.0.10.220 13000
Sat Nov 12 01:30:51 2022 TCP    65.109.XXX.YYY 50074 =>      10.5.5.241 13000
Sat Nov 12 01:30:52 2022 TCP    65.109.XXX.YYY 50074 =>      10.5.5.241 13000
Sat Nov 12 01:31:54 2022 TCP    65.109.XXX.YYY 57106 =>      10.5.5.241 13000
Sat Nov 12 01:31:56 2022 TCP    65.109.XXX.YYY 57106 =>      10.5.5.241 13000
Sat Nov 12 01:31:30 2022 TCP    65.109.XXX.YYY 44716 =>      10.6.4.168 13000
Sat Nov 12 01:28:31 2022 TCP    65.109.XXX.YYY 39586 =>     10.10.10.16 13000
Sat Nov 12 01:31:01 2022 TCP    65.109.XXX.YYY 52342 =>     10.10.10.16 13000
Sat Nov 12 01:30:05 2022 TCP    65.109.XXX.YYY 38946 =>     10.10.10.17 13000
Sat Nov 12 01:31:30 2022 TCP    65.109.XXX.YYY 47584 =>     10.10.10.17 13000
Sat Nov 12 01:31:58 2022 TCP    65.109.XXX.YYY 50474 =>     10.10.10.17 13000
Sat Nov 12 01:32:26 2022 TCP    65.109.XXX.YYY 40756 =>     10.10.10.18 13000
Sat Nov 12 01:31:23 2022 TCP    65.109.XXX.YYY 43292 =>     10.10.10.23 13000
Sat Nov 12 01:30:05 2022 TCP    65.109.XXX.YYY 58498 =>     10.10.10.25 13000
Sat Nov 12 01:31:58 2022 TCP    65.109.XXX.YYY 41816 =>     10.10.10.25 13000
Sat Nov 12 01:31:03 2022 TCP    65.109.XXX.YYY 34656 =>     10.10.10.26 13000
Sat Nov 12 01:32:15 2022 TCP    65.109.XXX.YYY 42696 =>     10.10.10.26 13000
Sat Nov 12 01:30:00 2022 TCP    65.109.XXX.YYY 38740 =>     10.10.10.27 13000
Sat Nov 12 01:31:35 2022 TCP    65.109.XXX.YYY 48338 =>     10.10.10.27 13000
Sat Nov 12 01:32:01 2022 TCP    65.109.XXX.YYY 51306 =>     10.10.10.27 13000
Sat Nov 12 01:32:34 2022 TCP    65.109.XXX.YYY 54936 =>     10.10.10.27 13000
Sat Nov 12 01:31:03 2022 TCP    65.109.XXX.YYY 41754 =>     10.10.10.32 13000
Sat Nov 12 01:32:15 2022 TCP    65.109.XXX.YYY 49788 =>     10.10.10.32 13000
Sat Nov 12 01:31:43 2022 TCP    65.109.XXX.YYY 43452 =>     10.10.10.34 13000
Sat Nov 12 01:32:32 2022 TCP    65.109.XXX.YYY 48784 =>     10.10.10.34 13000
Sat Nov 12 01:28:31 2022 TCP    65.109.XXX.YYY 33446 =>    10.21.34.130 13000
Sat Nov 12 01:31:23 2022 TCP    65.109.XXX.YYY 46048 =>    10.33.123.11 13000
Sat Nov 12 01:32:02 2022 TCP    65.109.XXX.YYY 35128 =>     10.41.162.9 13000
Sat Nov 12 01:31:43 2022 TCP    65.109.XXX.YYY 56010 =>     10.42.253.8 13000
Sat Nov 12 01:31:44 2022 TCP    65.109.XXX.YYY 56010 =>     10.42.253.8 13000
Sat Nov 12 01:32:32 2022 TCP    65.109.XXX.YYY 33112 =>     10.42.253.8 13000
Sat Nov 12 01:32:33 2022 TCP    65.109.XXX.YYY 33112 =>     10.42.253.8 13000
Sat Nov 12 01:32:35 2022 TCP    65.109.XXX.YYY 33112 =>     10.42.253.8 13000
Sat Nov 12 01:28:07 2022 TCP    65.109.XXX.YYY 38674 =>    10.100.0.179 13000
Sat Nov 12 01:28:17 2022 TCP    65.109.XXX.YYY 39788 =>    10.100.0.179 13000
Sat Nov 12 01:28:31 2022 TCP    65.109.XXX.YYY 41138 =>    10.100.0.179 13000
Sat Nov 12 01:30:17 2022 TCP    65.109.XXX.YYY 50122 =>    10.100.0.179 13000
Sat Nov 12 01:30:56 2022 TCP    65.109.XXX.YYY 53368 =>    10.100.0.179 13000
Sat Nov 12 01:31:00 2022 TCP    65.109.XXX.YYY 53872 =>    10.100.0.179 13000
Sat Nov 12 01:31:23 2022 TCP    65.109.XXX.YYY 56300 =>    10.100.0.179 13000
Sat Nov 12 01:32:01 2022 TCP    65.109.XXX.YYY 60998 =>    10.100.0.179 13000
Sat Nov 12 01:32:19 2022 TCP    65.109.XXX.YYY 34528 =>    10.100.0.179 13000
Sat Nov 12 01:32:34 2022 TCP    65.109.XXX.YYY 36376 =>    10.100.0.179 13000
Sat Nov 12 01:31:30 2022 TCP    65.109.XXX.YYY 55096 =>    10.160.21.55 13000
Sat Nov 12 01:28:17 2022 TCP    65.109.XXX.YYY 58566 =>     10.242.73.7 13000
Sat Nov 12 01:31:00 2022 TCP    65.109.XXX.YYY 44414 =>     10.242.73.7 13000
Sat Nov 12 01:32:32 2022 TCP    65.109.XXX.YYY 40368 =>   100.107.213.6 13000
Sat Nov 12 01:32:33 2022 TCP    65.109.XXX.YYY 40368 =>   100.107.213.6 13000
Sat Nov 12 01:32:35 2022 TCP    65.109.XXX.YYY 40368 =>   100.107.213.6 13000
Sat Nov 12 01:28:12 2022 TCP    65.109.XXX.YYY 37738 =>  100.113.84.134 13000
Sat Nov 12 01:28:13 2022 TCP    65.109.XXX.YYY 37738 =>  100.113.84.134 13000
Sat Nov 12 01:28:15 2022 TCP    65.109.XXX.YYY 37738 =>  100.113.84.134 13000
Sat Nov 12 01:32:01 2022 TCP    65.109.XXX.YYY 59356 => 100.122.203.219 13000
Sat Nov 12 01:32:03 2022 TCP    65.109.XXX.YYY 59356 => 100.122.203.219 13000
Sat Nov 12 01:31:03 2022 TCP    65.109.XXX.YYY 57384 =>      172.18.0.2 13000
Sat Nov 12 01:31:06 2022 TCP    65.109.XXX.YYY 57384 =>      172.18.0.2 13000
Sat Nov 12 01:32:15 2022 TCP    65.109.XXX.YYY 37192 =>      172.18.0.2 13000
Sat Nov 12 01:32:16 2022 TCP    65.109.XXX.YYY 37192 =>      172.18.0.2 13000
Sat Nov 12 01:32:18 2022 TCP    65.109.XXX.YYY 37192 =>      172.18.0.2 13000
Sat Nov 12 01:28:06 2022 TCP    65.109.XXX.YYY 35054 =>      172.18.0.3 13000
Sat Nov 12 01:28:13 2022 TCP    65.109.XXX.YYY 36160 =>      172.18.0.3 13000
Sat Nov 12 01:28:27 2022 TCP    65.109.XXX.YYY 37502 =>      172.18.0.3 13000
Sat Nov 12 01:31:03 2022 TCP    65.109.XXX.YYY 51168 =>      172.18.0.3 13000
Sat Nov 12 01:31:04 2022 TCP    65.109.XXX.YYY 51168 =>      172.18.0.3 13000
Sat Nov 12 01:31:06 2022 TCP    65.109.XXX.YYY 51168 =>      172.18.0.3 13000
Sat Nov 12 01:31:35 2022 TCP    65.109.XXX.YYY 54846 =>      172.18.0.3 13000
Sat Nov 12 01:31:36 2022 TCP    65.109.XXX.YYY 54846 =>      172.18.0.3 13000
Sat Nov 12 01:31:38 2022 TCP    65.109.XXX.YYY 54846 =>      172.18.0.3 13000
Sat Nov 12 01:31:51 2022 TCP    65.109.XXX.YYY 56614 =>      172.18.0.3 13000
Sat Nov 12 01:31:52 2022 TCP    65.109.XXX.YYY 56614 =>      172.18.0.3 13000
Sat Nov 12 01:28:12 2022 TCP    65.109.XXX.YYY 57210 =>      172.19.0.2 13000
Sat Nov 12 01:28:27 2022 TCP    65.109.XXX.YYY 35212 =>      172.19.0.5 13000
Sat Nov 12 01:31:03 2022 TCP    65.109.XXX.YYY 48884 =>      172.19.0.5 13000
Sat Nov 12 01:28:06 2022 TCP    65.109.XXX.YYY 44432 =>      172.20.0.2 13000
Sat Nov 12 01:31:51 2022 TCP    65.109.XXX.YYY 37698 =>      172.20.0.2 13000
Sat Nov 12 01:31:52 2022 TCP    65.109.XXX.YYY 37698 =>      172.20.0.2 13000
Sat Nov 12 01:31:54 2022 TCP    65.109.XXX.YYY 37698 =>      172.20.0.2 13000
Sat Nov 12 01:32:07 2022 TCP    65.109.XXX.YYY 39586 =>      172.20.0.2 13000
Sat Nov 12 01:32:35 2022 TCP    65.109.XXX.YYY 41132 =>      172.23.0.2 13000
Sat Nov 12 01:32:36 2022 TCP    65.109.XXX.YYY 41132 =>      172.23.0.2 13000
Sat Nov 12 01:28:06 2022 TCP    65.109.XXX.YYY 40302 =>     192.168.0.6 13000
Sat Nov 12 01:28:26 2022 TCP    65.109.XXX.YYY 42758 =>     192.168.0.6 13000
Sat Nov 12 01:28:29 2022 TCP    65.109.XXX.YYY 42758 =>     192.168.0.6 13000
Sat Nov 12 01:31:51 2022 TCP    65.109.XXX.YYY 33664 =>     192.168.0.6 13000
Sat Nov 12 01:31:52 2022 TCP    65.109.XXX.YYY 33664 =>     192.168.0.6 13000
Sat Nov 12 01:31:54 2022 TCP    65.109.XXX.YYY 33664 =>     192.168.0.6 13000
Sat Nov 12 01:32:07 2022 TCP    65.109.XXX.YYY 35478 =>     192.168.0.6 13000
Sat Nov 12 01:32:08 2022 TCP    65.109.XXX.YYY 35478 =>     192.168.0.6 13000
Sat Nov 12 01:32:10 2022 TCP    65.109.XXX.YYY 35478 =>     192.168.0.6 13000
Sat Nov 12 01:31:09 2022 TCP    65.109.XXX.YYY 44568 =>    192.168.0.13 13000
Sat Nov 12 01:28:06 2022 TCP    65.109.XXX.YYY 37868 =>    192.168.0.14 13000
Sat Nov 12 01:28:26 2022 TCP    65.109.XXX.YYY 40296 =>    192.168.0.14 13000
Sat Nov 12 01:28:29 2022 TCP    65.109.XXX.YYY 40296 =>    192.168.0.14 13000
Sat Nov 12 01:31:51 2022 TCP    65.109.XXX.YYY 59434 =>    192.168.0.14 13000
Sat Nov 12 01:31:52 2022 TCP    65.109.XXX.YYY 59434 =>    192.168.0.14 13000
Sat Nov 12 01:31:54 2022 TCP    65.109.XXX.YYY 59434 =>    192.168.0.14 13000
Sat Nov 12 01:32:07 2022 TCP    65.109.XXX.YYY 33020 =>    192.168.0.14 13000
Sat Nov 12 01:32:08 2022 TCP    65.109.XXX.YYY 33020 =>    192.168.0.14 13000
Sat Nov 12 01:32:10 2022 TCP    65.109.XXX.YYY 33020 =>    192.168.0.14 13000
Sat Nov 12 01:30:09 2022 TCP    65.109.XXX.YYY 52086 =>   192.168.0.101 13000
Sat Nov 12 01:30:11 2022 TCP    65.109.XXX.YYY 52086 =>   192.168.0.101 13000
Sat Nov 12 01:31:48 2022 TCP    65.109.XXX.YYY 33832 =>   192.168.0.101 13000
Sat Nov 12 01:31:50 2022 TCP    65.109.XXX.YYY 33832 =>   192.168.0.101 13000
Sat Nov 12 01:30:17 2022 TCP    65.109.XXX.YYY 37520 =>   192.168.1.102 13000
Sat Nov 12 01:30:20 2022 TCP    65.109.XXX.YYY 37520 =>   192.168.1.102 13000
Sat Nov 12 01:32:23 2022 TCP    65.109.XXX.YYY 53826 =>   192.168.1.106 13000
Sat Nov 12 01:32:24 2022 TCP    65.109.XXX.YYY 53826 =>   192.168.1.106 13000
Sat Nov 12 01:32:26 2022 TCP    65.109.XXX.YYY 53826 =>   192.168.1.106 13000
Sat Nov 12 01:32:33 2022 TCP    65.109.XXX.YYY 52648 =>     192.168.6.2 13000
Sat Nov 12 01:31:00 2022 TCP    65.109.XXX.YYY 51844 =>   192.168.86.29 13000
Sat Nov 12 01:30:09 2022 TCP    65.109.XXX.YYY 47906 =>  192.168.86.247 13000
Sat Nov 12 01:30:11 2022 TCP    65.109.XXX.YYY 47906 =>  192.168.86.247 13000
Sat Nov 12 01:31:48 2022 TCP    65.109.XXX.YYY 57882 =>  192.168.86.247 13000
Sat Nov 12 01:31:50 2022 TCP    65.109.XXX.YYY 57882 =>  192.168.86.247 13000
Sat Nov 12 01:30:00 2022 TCP    65.109.XXX.YYY 45648 =>  192.168.88.227 13000
Sat Nov 12 01:30:56 2022 TCP    65.109.XXX.YYY 50606 =>  192.168.88.227 13000
Sat Nov 12 01:28:18 2022 UDP    65.109.XXX.YYY 4000  =>   9.131.104.147 12000
Sat Nov 12 01:29:17 2022 UDP    65.109.XXX.YYY 4000  =>   9.131.104.147 12000
Sat Nov 12 01:29:29 2022 UDP    65.109.XXX.YYY 4000  =>   9.131.104.147 12000
Sat Nov 12 01:30:01 2022 UDP    65.109.XXX.YYY 4000  =>   9.131.104.147 12000
Sat Nov 12 01:30:14 2022 UDP    65.109.XXX.YYY 4000  =>   9.131.104.205 12000
Sat Nov 12 01:30:54 2022 UDP    65.109.XXX.YYY 4000  =>   9.131.104.205 12000
Sat Nov 12 01:31:00 2022 UDP    65.109.XXX.YYY 4000  =>   9.131.104.205 12000
Sat Nov 12 01:31:17 2022 UDP    65.109.XXX.YYY 4000  =>  100.96.145.203 12000
Sat Nov 12 01:29:35 2022 UDP    65.109.XXX.YYY 4000  =>  100.96.154.205 12000
Sat Nov 12 01:31:00 2022 UDP    65.109.XXX.YYY 4000  =>  100.96.154.205 12000
Sat Nov 12 01:28:46 2022 UDP    65.109.XXX.YYY 4000  =>  100.96.207.197 12000
Sat Nov 12 01:32:28 2022 UDP    65.109.XXX.YYY 4000  =>  100.96.207.197 12000
Sat Nov 12 01:29:19 2022 UDP    65.109.XXX.YYY 4000  =>     100.97.54.6 12000
Sat Nov 12 01:31:07 2022 UDP    65.109.XXX.YYY 4000  =>     100.97.54.6 12000
Sat Nov 12 01:31:10 2022 UDP    65.109.XXX.YYY 4000  =>     100.97.54.6 12000
Sat Nov 12 01:32:18 2022 UDP    65.109.XXX.YYY 4000  =>   100.97.168.70 12000
Sat Nov 12 01:32:20 2022 UDP    65.109.XXX.YYY 4000  =>   100.97.168.70 12000
Sat Nov 12 01:28:08 2022 UDP    65.109.XXX.YYY 4000  =>   100.98.19.198 12000
Sat Nov 12 01:29:16 2022 UDP    65.109.XXX.YYY 4000  =>   100.98.19.198 12000
Sat Nov 12 01:31:26 2022 UDP    65.109.XXX.YYY 4000  =>   100.98.19.198 12000
Sat Nov 12 01:30:20 2022 UDP    65.109.XXX.YYY 4000  =>  100.98.121.199 12000
Sat Nov 12 01:30:11 2022 UDP    65.109.XXX.YYY 4000  =>    100.99.92.74 12000
Sat Nov 12 01:28:08 2022 UDP    65.109.XXX.YYY 4000  =>  100.100.13.195 12000
Sat Nov 12 01:28:14 2022 UDP    65.109.XXX.YYY 4000  =>  100.100.13.195 12000
Sat Nov 12 01:30:32 2022 UDP    65.109.XXX.YYY 4000  =>  100.100.13.195 12000
Sat Nov 12 01:30:43 2022 UDP    65.109.XXX.YYY 4000  =>  100.100.22.134 12000
Sat Nov 12 01:28:05 2022 UDP    65.109.XXX.YYY 4000  =>    100.100.30.5 12000
Sat Nov 12 01:29:32 2022 UDP    65.109.XXX.YYY 4000  =>    100.100.30.5 12000
Sat Nov 12 01:28:15 2022 UDP    65.109.XXX.YYY 4000  =>   100.100.35.71 12000
Sat Nov 12 01:28:18 2022 UDP    65.109.XXX.YYY 4000  =>   100.100.35.71 12000
Sat Nov 12 01:29:05 2022 UDP    65.109.XXX.YYY 4000  =>   100.100.35.71 12000
Sat Nov 12 01:30:30 2022 UDP    65.109.XXX.YYY 4000  =>   100.100.35.71 12000
Sat Nov 12 01:30:57 2022 UDP    65.109.XXX.YYY 4000  =>   100.100.35.71 12000
Sat Nov 12 01:31:25 2022 UDP    65.109.XXX.YYY 4000  =>   100.100.35.71 12000
Sat Nov 12 01:32:06 2022 UDP    65.109.XXX.YYY 4000  =>   100.100.35.71 12000
Sat Nov 12 01:32:35 2022 UDP    65.109.XXX.YYY 4000  =>   100.100.35.71 12000
Sat Nov 12 01:31:41 2022 UDP    65.109.XXX.YYY 4000  =>  100.100.134.70 12000
Sat Nov 12 01:29:56 2022 UDP    65.109.XXX.YYY 4000  =>  100.100.179.71 12000
Sat Nov 12 01:30:13 2022 UDP    65.109.XXX.YYY 4000  =>  100.100.179.71 12000
Sat Nov 12 01:30:18 2022 UDP    65.109.XXX.YYY 4000  =>  100.100.179.71 12000
Sat Nov 12 01:31:45 2022 UDP    65.109.XXX.YYY 4000  =>  100.100.179.71 12000
Sat Nov 12 01:32:11 2022 UDP    65.109.XXX.YYY 4000  =>  100.100.179.71 12000
Sat Nov 12 01:31:31 2022 UDP    65.109.XXX.YYY 4000  => 100.100.247.197 12000
Sat Nov 12 01:30:11 2022 UDP    65.109.XXX.YYY 4000  =>   100.101.141.9 12000
Sat Nov 12 01:30:14 2022 UDP    65.109.XXX.YYY 4000  =>   100.101.141.9 12000
Sat Nov 12 01:30:33 2022 UDP    65.109.XXX.YYY 4000  =>   100.101.141.9 12000
Sat Nov 12 01:31:22 2022 UDP    65.109.XXX.YYY 4000  =>   100.101.141.9 12000
Sat Nov 12 01:31:56 2022 UDP    65.109.XXX.YYY 4000  =>   100.101.141.9 12000
Sat Nov 12 01:32:20 2022 UDP    65.109.XXX.YYY 4000  =>   100.101.141.9 12000
Sat Nov 12 01:29:05 2022 UDP    65.109.XXX.YYY 4000  =>  100.102.42.133 12000
Sat Nov 12 01:31:10 2022 UDP    65.109.XXX.YYY 4000  =>  100.102.42.133 12000
Sat Nov 12 01:32:03 2022 UDP    65.109.XXX.YYY 4000  =>  100.102.42.133 12000
Sat Nov 12 01:32:24 2022 UDP    65.109.XXX.YYY 4000  =>  100.102.42.133 12000
Sat Nov 12 01:30:44 2022 UDP    65.109.XXX.YYY 4000  =>  100.102.101.70 12000
Sat Nov 12 01:32:23 2022 UDP    65.109.XXX.YYY 4000  =>  100.102.101.70 12000
Sat Nov 12 01:29:10 2022 UDP    65.109.XXX.YYY 4000  =>   100.102.105.5 12000
Sat Nov 12 01:29:16 2022 UDP    65.109.XXX.YYY 4000  =>   100.102.105.5 12000
Sat Nov 12 01:30:00 2022 UDP    65.109.XXX.YYY 4000  =>  100.102.122.70 12000
Sat Nov 12 01:28:26 2022 UDP    65.109.XXX.YYY 4000  =>  100.103.228.70 12000
Sat Nov 12 01:32:35 2022 UDP    65.109.XXX.YYY 4000  =>    100.104.2.70 12000
Sat Nov 12 01:29:47 2022 UDP    65.109.XXX.YYY 4000  =>    100.104.33.5 12000
Sat Nov 12 01:31:11 2022 UDP    65.109.XXX.YYY 4000  =>    100.104.33.5 12000
Sat Nov 12 01:29:00 2022 UDP    65.109.XXX.YYY 4000  =>   100.104.58.70 12000
Sat Nov 12 01:28:09 2022 UDP    65.109.XXX.YYY 4000  => 100.104.124.134 12000
Sat Nov 12 01:32:05 2022 UDP    65.109.XXX.YYY 4000  => 100.104.124.134 12000
Sat Nov 12 01:28:05 2022 UDP    65.109.XXX.YYY 4000  =>   100.104.125.6 12000
Sat Nov 12 01:30:14 2022 UDP    65.109.XXX.YYY 4000  =>    100.105.81.5 12000
Sat Nov 12 01:31:19 2022 UDP    65.109.XXX.YYY 4000  =>  100.105.83.198 12000
Sat Nov 12 01:32:08 2022 UDP    65.109.XXX.YYY 4000  =>  100.105.83.198 12000
Sat Nov 12 01:31:48 2022 UDP    65.109.XXX.YYY 4000  => 100.105.149.134 12000
Sat Nov 12 01:31:01 2022 UDP    65.109.XXX.YYY 4000  =>   100.105.190.6 12000
Sat Nov 12 01:28:13 2022 UDP    65.109.XXX.YYY 4000  =>     100.106.4.5 12000
Sat Nov 12 01:28:53 2022 UDP    65.109.XXX.YYY 4000  =>     100.106.4.5 12000
Sat Nov 12 01:29:38 2022 UDP    65.109.XXX.YYY 4000  =>     100.106.4.5 12000
Sat Nov 12 01:30:00 2022 UDP    65.109.XXX.YYY 4000  =>     100.106.4.5 12000
Sat Nov 12 01:30:02 2022 UDP    65.109.XXX.YYY 4000  =>     100.106.4.5 12000
Sat Nov 12 01:31:16 2022 UDP    65.109.XXX.YYY 4000  =>     100.106.4.5 12000
Sat Nov 12 01:32:18 2022 UDP    65.109.XXX.YYY 4000  =>     100.106.4.5 12000
Sat Nov 12 01:32:33 2022 UDP    65.109.XXX.YYY 4000  =>     100.106.4.5 12000
Sat Nov 12 01:31:48 2022 UDP    65.109.XXX.YYY 4000  => 100.106.208.198 12000
Sat Nov 12 01:28:11 2022 UDP    65.109.XXX.YYY 4000  =>  100.107.156.72 12000
Sat Nov 12 01:32:33 2022 UDP    65.109.XXX.YYY 4000  =>   100.107.213.6 12000
Sat Nov 12 01:29:28 2022 UDP    65.109.XXX.YYY 4000  =>  100.108.55.134 12000
Sat Nov 12 01:29:58 2022 UDP    65.109.XXX.YYY 4000  =>  100.108.55.134 12000
Sat Nov 12 01:30:35 2022 UDP    65.109.XXX.YYY 4000  => 100.108.181.133 12000
Sat Nov 12 01:30:29 2022 UDP    65.109.XXX.YYY 4000  =>    100.109.62.6 12000
Sat Nov 12 01:31:01 2022 UDP    65.109.XXX.YYY 4000  =>    100.109.62.6 12000
Sat Nov 12 01:31:48 2022 UDP    65.109.XXX.YYY 4000  =>  100.109.78.141 12000
Sat Nov 12 01:32:20 2022 UDP    65.109.XXX.YYY 4000  =>  100.109.78.141 12000
Sat Nov 12 01:31:58 2022 UDP    65.109.XXX.YYY 4000  => 100.109.201.203 12000
Sat Nov 12 01:28:22 2022 UDP    65.109.XXX.YYY 4000  =>   100.109.218.9 12000
Sat Nov 12 01:31:17 2022 UDP    65.109.XXX.YYY 4000  =>   100.109.218.9 12000
Sat Nov 12 01:29:28 2022 UDP    65.109.XXX.YYY 4000  =>   100.110.110.7 12000
Sat Nov 12 01:29:00 2022 UDP    65.109.XXX.YYY 4000  =>  100.111.182.69 12000
Sat Nov 12 01:29:37 2022 UDP    65.109.XXX.YYY 4000  =>  100.111.182.69 12000
Sat Nov 12 01:30:37 2022 UDP    65.109.XXX.YYY 4000  =>  100.111.182.69 12000
Sat Nov 12 01:31:51 2022 UDP    65.109.XXX.YYY 4000  =>  100.111.182.69 12000
Sat Nov 12 01:30:06 2022 UDP    65.109.XXX.YYY 4000  => 100.111.185.198 12000
Sat Nov 12 01:28:24 2022 UDP    65.109.XXX.YYY 4000  =>  100.111.244.69 12000
Sat Nov 12 01:30:59 2022 UDP    65.109.XXX.YYY 4000  =>  100.111.244.69 12000
Sat Nov 12 01:31:59 2022 UDP    65.109.XXX.YYY 4000  =>  100.111.244.69 12000
Sat Nov 12 01:28:19 2022 UDP    65.109.XXX.YYY 4000  =>   100.112.31.14 12000
Sat Nov 12 01:29:58 2022 UDP    65.109.XXX.YYY 4000  =>   100.112.31.14 12000
Sat Nov 12 01:31:17 2022 UDP    65.109.XXX.YYY 4000  =>   100.112.31.14 12000
Sat Nov 12 01:30:12 2022 UDP    65.109.XXX.YYY 4000  =>  100.113.84.134 12000
Sat Nov 12 01:30:53 2022 UDP    65.109.XXX.YYY 4000  =>  100.113.84.134 12000
Sat Nov 12 01:32:03 2022 UDP    65.109.XXX.YYY 4000  =>  100.113.84.134 12000
Sat Nov 12 01:28:31 2022 UDP    65.109.XXX.YYY 4000  =>   100.113.97.69 12000
Sat Nov 12 01:30:06 2022 UDP    65.109.XXX.YYY 4000  =>  100.114.15.135 12000
Sat Nov 12 01:31:02 2022 UDP    65.109.XXX.YYY 4000  =>  100.114.15.135 12000
Sat Nov 12 01:30:53 2022 UDP    65.109.XXX.YYY 4000  =>    100.114.96.5 12000
Sat Nov 12 01:32:15 2022 UDP    65.109.XXX.YYY 4000  => 100.114.178.133 12000
Sat Nov 12 01:30:21 2022 UDP    65.109.XXX.YYY 4000  =>   100.114.191.7 12000
Sat Nov 12 01:30:33 2022 UDP    65.109.XXX.YYY 4000  =>   100.114.191.7 12000
Sat Nov 12 01:30:43 2022 UDP    65.109.XXX.YYY 4000  =>   100.114.191.7 12000
Sat Nov 12 01:30:56 2022 UDP    65.109.XXX.YYY 4000  =>   100.114.191.7 12000
Sat Nov 12 01:32:02 2022 UDP    65.109.XXX.YYY 4000  =>   100.114.191.7 12000
Sat Nov 12 01:31:18 2022 UDP    65.109.XXX.YYY 4000  =>   100.114.195.6 12000
Sat Nov 12 01:31:47 2022 UDP    65.109.XXX.YYY 4000  =>   100.114.195.6 12000
Sat Nov 12 01:32:05 2022 UDP    65.109.XXX.YYY 4000  =>  100.115.33.198 12000
Sat Nov 12 01:29:59 2022 UDP    65.109.XXX.YYY 4000  =>   100.115.54.69 12000
Sat Nov 12 01:30:16 2022 UDP    65.109.XXX.YYY 4000  =>   100.115.54.69 12000
Sat Nov 12 01:31:03 2022 UDP    65.109.XXX.YYY 4000  =>  100.115.71.135 12000
Sat Nov 12 01:31:13 2022 UDP    65.109.XXX.YYY 4000  =>  100.115.71.135 12000
Sat Nov 12 01:29:43 2022 UDP    65.109.XXX.YYY 4000  =>  100.116.15.134 12000
Sat Nov 12 01:30:40 2022 UDP    65.109.XXX.YYY 4000  =>  100.116.28.198 12000
Sat Nov 12 01:28:17 2022 UDP    65.109.XXX.YYY 4000  =>    100.116.34.7 12000
Sat Nov 12 01:30:19 2022 UDP    65.109.XXX.YYY 4000  =>    100.116.34.7 12000
Sat Nov 12 01:32:07 2022 UDP    65.109.XXX.YYY 4000  =>    100.116.34.7 12000
Sat Nov 12 01:31:33 2022 UDP    65.109.XXX.YYY 4000  =>  100.116.79.133 12000
Sat Nov 12 01:30:55 2022 UDP    65.109.XXX.YYY 4000  =>  100.116.84.134 12000
Sat Nov 12 01:32:27 2022 UDP    65.109.XXX.YYY 4000  => 100.116.123.134 12000
Sat Nov 12 01:28:25 2022 UDP    65.109.XXX.YYY 4000  =>  100.116.126.69 12000
Sat Nov 12 01:31:17 2022 UDP    65.109.XXX.YYY 4000  =>   100.116.129.5 12000
Sat Nov 12 01:32:29 2022 UDP    65.109.XXX.YYY 4000  =>   100.116.129.5 12000
Sat Nov 12 01:31:28 2022 UDP    65.109.XXX.YYY 4000  =>   100.116.234.6 12000
Sat Nov 12 01:32:09 2022 UDP    65.109.XXX.YYY 4000  =>   100.116.234.6 12000
Sat Nov 12 01:28:53 2022 UDP    65.109.XXX.YYY 4000  =>   100.117.1.195 12000
Sat Nov 12 01:32:26 2022 UDP    65.109.XXX.YYY 4000  =>   100.117.1.195 12000
Sat Nov 12 01:31:54 2022 UDP    65.109.XXX.YYY 4000  =>  100.117.197.70 12000
Sat Nov 12 01:32:07 2022 UDP    65.109.XXX.YYY 4000  =>   100.117.235.3 12000
Sat Nov 12 01:30:56 2022 UDP    65.109.XXX.YYY 4000  =>  100.118.11.198 12000
Sat Nov 12 01:29:37 2022 UDP    65.109.XXX.YYY 4000  =>    100.118.13.6 12000
Sat Nov 12 01:30:26 2022 UDP    65.109.XXX.YYY 4000  =>    100.118.13.6 12000
Sat Nov 12 01:28:17 2022 UDP    65.109.XXX.YYY 4000  => 100.119.115.134 12000
Sat Nov 12 01:28:10 2022 UDP    65.109.XXX.YYY 4000  =>  100.119.171.69 12000
Sat Nov 12 01:31:27 2022 UDP    65.109.XXX.YYY 4000  => 100.119.186.190 12000
Sat Nov 12 01:30:12 2022 UDP    65.109.XXX.YYY 4000  =>  100.119.253.70 12000
Sat Nov 12 01:30:16 2022 UDP    65.109.XXX.YYY 4000  =>  100.119.253.70 12000
Sat Nov 12 01:30:30 2022 UDP    65.109.XXX.YYY 4000  =>  100.119.253.70 12000
Sat Nov 12 01:28:15 2022 UDP    65.109.XXX.YYY 4000  =>  100.120.32.133 12000
Sat Nov 12 01:30:42 2022 UDP    65.109.XXX.YYY 4000  =>  100.120.32.133 12000
Sat Nov 12 01:31:57 2022 UDP    65.109.XXX.YYY 4000  =>  100.120.32.133 12000
Sat Nov 12 01:31:58 2022 UDP    65.109.XXX.YYY 4000  => 100.120.141.135 12000
Sat Nov 12 01:31:28 2022 UDP    65.109.XXX.YYY 4000  =>  100.120.206.70 12000
Sat Nov 12 01:32:08 2022 UDP    65.109.XXX.YYY 4000  => 100.120.242.195 12000
Sat Nov 12 01:32:30 2022 UDP    65.109.XXX.YYY 4000  => 100.120.245.198 12000
Sat Nov 12 01:28:19 2022 UDP    65.109.XXX.YYY 4000  =>  100.121.93.198 12000
Sat Nov 12 01:28:19 2022 UDP    65.109.XXX.YYY 4000  =>  100.121.93.198 12000
Sat Nov 12 01:30:31 2022 UDP    65.109.XXX.YYY 4000  =>  100.121.93.198 12000
Sat Nov 12 01:31:11 2022 UDP    65.109.XXX.YYY 4000  =>  100.121.93.198 12000
Sat Nov 12 01:31:21 2022 UDP    65.109.XXX.YYY 4000  => 100.121.174.196 12000
Sat Nov 12 01:31:03 2022 UDP    65.109.XXX.YYY 4000  => 100.121.249.134 12000
Sat Nov 12 01:32:04 2022 UDP    65.109.XXX.YYY 4000  => 100.121.249.134 12000
Sat Nov 12 01:28:51 2022 UDP    65.109.XXX.YYY 4000  =>  100.122.117.17 12000
Sat Nov 12 01:28:07 2022 UDP    65.109.XXX.YYY 4000  => 100.123.151.134 12000
Sat Nov 12 01:28:20 2022 UDP    65.109.XXX.YYY 4000  => 100.123.151.134 12000
Sat Nov 12 01:31:00 2022 UDP    65.109.XXX.YYY 4000  => 100.123.232.198 12000
Sat Nov 12 01:31:09 2022 UDP    65.109.XXX.YYY 4000  => 100.123.232.198 12000
Sat Nov 12 01:28:16 2022 UDP    65.109.XXX.YYY 4000  =>   100.124.31.70 12000
Sat Nov 12 01:32:14 2022 UDP    65.109.XXX.YYY 4000  =>  100.124.181.78 12000
Sat Nov 12 01:29:30 2022 UDP    65.109.XXX.YYY 4000  =>   100.125.47.70 12000
Sat Nov 12 01:30:09 2022 UDP    65.109.XXX.YYY 4000  =>   100.125.47.70 12000
Sat Nov 12 01:31:23 2022 UDP    65.109.XXX.YYY 4000  =>   100.125.48.71 12000
Sat Nov 12 01:28:06 2022 UDP    65.109.XXX.YYY 4000  =>    100.125.56.6 12000
Sat Nov 12 01:28:32 2022 UDP    65.109.XXX.YYY 4000  =>  100.125.109.70 12000
Sat Nov 12 01:29:27 2022 UDP    65.109.XXX.YYY 4000  =>  100.125.109.70 12000
Sat Nov 12 01:29:57 2022 UDP    65.109.XXX.YYY 4000  =>  100.125.109.70 12000
Sat Nov 12 01:31:58 2022 UDP    65.109.XXX.YYY 4000  =>  100.125.109.70 12000
Sat Nov 12 01:32:29 2022 UDP    65.109.XXX.YYY 4000  =>  100.125.109.70 12000
Sat Nov 12 01:29:30 2022 UDP    65.109.XXX.YYY 4000  =>   100.125.120.7 12000
Sat Nov 12 01:31:54 2022 UDP    65.109.XXX.YYY 4000  => 100.125.204.198 12000
Sat Nov 12 01:31:12 2022 UDP    65.109.XXX.YYY 4000  =>  100.126.47.198 12000
Sat Nov 12 01:29:28 2022 UDP    65.109.XXX.YYY 4000  =>   100.126.123.9 12000
Sat Nov 12 01:32:12 2022 UDP    65.109.XXX.YYY 4000  =>   100.126.123.9 12000
Sat Nov 12 01:32:27 2022 UDP    65.109.XXX.YYY 4000  =>   100.126.123.9 12000
Sat Nov 12 01:31:24 2022 UDP    65.109.XXX.YYY 4000  => 100.126.215.197 12000
Sat Nov 12 01:28:09 2022 UDP    65.109.XXX.YYY 4000  =>  100.127.65.197 12000
Sat Nov 12 01:28:21 2022 UDP    65.109.XXX.YYY 4000  =>  100.127.65.197 12000
Sat Nov 12 01:31:43 2022 UDP    65.109.XXX.YYY 4000  => 100.127.100.107 12000
Sat Nov 12 01:31:46 2022 UDP    65.109.XXX.YYY 4000  => 100.127.100.204 12000

````

1. try reduce `--torrent.conns.perfile`
2. try reduce `--maxpeers`
3. try more aggressive firewall, like:
```
0.0.0.0/8             "This" Network             RFC 1122, Section 3.2.1.3
10.0.0.0/8            Private-Use Networks       RFC 1918
100.64.0.0/10         Carrier-Grade NAT (CGN)    RFC 6598, Section 7
127.0.0.0/8           Loopback                   RFC 1122, Section 3.2.1.3
169.254.0.0/16        Link Local                 RFC 3927
172.16.0.0/12         Private-Use Networks       RFC 1918
192.0.0.0/24          IETF Protocol Assignments  RFC 5736
192.0.2.0/24          TEST-NET-1                 RFC 5737
192.88.99.0/24        6to4 Relay Anycast         RFC 3068
192.168.0.0/16        Private-Use Networks       RFC 1918
198.18.0.0/15         Network Interconnect
                      Device Benchmark Testing   RFC 2544
198.51.100.0/24       TEST-NET-2                 RFC 5737
203.0.113.0/24        TEST-NET-3                 RFC 5737
224.0.0.0/4           Multicast                  RFC 3171
240.0.0.0/4           Reserved for Future Use    RFC 1112, Section 4
255.255.255.255/32    Limited Broadcast          RFC 919, Section 7
                                                 RFC 922, Section 7
```


@AdminAnticaptcha did hetzner unlocked ur server ?

> 1. try reduce `--torrent.conns.perfile`
> 2. try reduce `--maxpeers`
> 3. try more aggressive firewall, like:
> 
> ```
> 0.0.0.0/8             "This" Network             RFC 1122, Section 3.2.1.3
> 10.0.0.0/8            Private-Use Networks       RFC 1918
> 100.64.0.0/10         Carrier-Grade NAT (CGN)    RFC 6598, Section 7
> 127.0.0.0/8           Loopback                   RFC 1122, Section 3.2.1.3
> 169.254.0.0/16        Link Local                 RFC 3927
> 172.16.0.0/12         Private-Use Networks       RFC 1918
> 192.0.0.0/24          IETF Protocol Assignments  RFC 5736
> 192.0.2.0/24          TEST-NET-1                 RFC 5737
> 192.88.99.0/24        6to4 Relay Anycast         RFC 3068
> 192.168.0.0/16        Private-Use Networks       RFC 1918
> 198.18.0.0/15         Network Interconnect
>                       Device Benchmark Testing   RFC 2544
> 198.51.100.0/24       TEST-NET-2                 RFC 5737
> 203.0.113.0/24        TEST-NET-3                 RFC 5737
> 224.0.0.0/4           Multicast                  RFC 3171
> 240.0.0.0/4           Reserved for Future Use    RFC 1112, Section 4
> 255.255.255.255/32    Limited Broadcast          RFC 919, Section 7
>                                                  RFC 922, Section 7
> ```

I've blocked all the IP ranges above, reduced torrent connections to 1 and set the max peer count to 5 but the problem is still happening. Is there anything else that can be done?

@AskAlexSharov It seems like the v2.30.0 update introduced some aggressive peer discovery mechanisms?

It seems that the problem comes from the now embedded Lighthouse consensus client since v2.30.0. Related https://github.com/sigp/lighthouse/issues/3006.

@chetanbothra If I may ask, what consensus client were you using on pre-v2.30.0 Erigon nodes?

I have used 2.28.0 and 2.29.0 

> I have used 2.28.0 and 2.29.0

Were you using Lighthouse as well (or other consensus clients)? Which version of Lighthouse on the Erigon v2.28.0 or v2.29.0 were you using?

I believe this comment from Lighthouse explains why the hosting provider is complaining about "abuse". https://github.com/sigp/lighthouse/issues/3006#issuecomment-1039691245

Basically, some nodes in the network are sharing unreachable private IPs as valid peers, and Erigon's embedded light client made good faith attempts to handshake with them, triggering Hetzner's alarms.

yes was using Lighthouse as CL v3.1.2 on both 2.28.0 and 2.29.0. 


> @ven Were you running a previous version of Erigon before v2.30.0 and never had issues with your hosting service? Are you using Docker btw?

@0xStrobe No, this was my first time trying to run Erigon. Without Docker.

@ven do you have `--externalcl` flag?




> It seems that the problem comes from the now embedded Lighthouse consensus client since v2.30.0. Related [sigp/lighthouse#3006](https://github.com/sigp/lighthouse/issues/3006).
> 
> @chetanbothra If I may ask, what consensus client were you using on pre-v2.30.0 Erigon nodes?

I'm using erigon v2.30 with CL Prysm and have the same issue 

The current list did not quite work for me, the following UFW settings appear to work

```
ufw allow in from any

ufw deny out from any to 0.0.0.0/8
ufw deny out from any to 10.0.0.0/8
ufw deny out from any to 127.0.0.0/8
ufw deny out from any to 100.64.0.0/10
ufw deny out from any to 100.0.0.0/8
ufw deny out from any to 169.254.0.0/16
ufw deny out from any to 172.0.0.0/8
ufw deny out from any to 192.0.0.0/24
ufw deny out from any to 192.0.2.0/24
ufw deny out from any to 192.88.99.0/24
ufw deny out from any to 192.168.0.0/16
ufw deny out from any to 198.18.0.0/15
ufw deny out from any to 198.51.100.0/24
ufw deny out from any to 203.0.113.0/24
ufw deny out from any to 224.0.0.0/4
ufw deny out from any to 240.0.0.0/4
ufw deny out from any to 255.255.255.255/32
ufw deny out from any to 212.68.160.179

ufw --force enable
```

https://github.com/ledgerwatch/erigon#default-ports-and-protocols--firewalls

I think Erigon should block local network peering connections by default like most other nodes. Might have an additional switch like `--allow-local-peers`.

@not-poma geth has similar flag?

Got this problem now by upgrading my node to the Shapella release.

We use geth with prysm updated today and got the same problem. Maybe prysm this time?

Same issue on our side.
We also received this suggestion from Hetzner support:

```
We would recommend that you set up a local firewall and block outgoing traffic to the following prefixes

-----------------%<----------------- 
https://tools.ietf.org/html/rfc1918
-----------------%<-----------------
10.0.0.0/8
172.16.0.0/12
192.168.0.0/16
-----------------%<-----------------
Please send us an unblock request when you are finished.
```

I used list from above post + 172.16.0.0/12 cause it was not listed we will see if it works.

Also we are using docker to host Node  + lighthouse so docker itself was adjusted to remove "iptables"


Create or edit /etc/docker/daemon.json and add the following content:
```
{
  "iptables": false
}
```

Im getting abuse reports after updating to version v2.42.0.

the following iptables rules worked well for us:

```
-A OUTPUT -p tcp -d 0.0.0.0/8 -j DROP
-A OUTPUT -p tcp -d 10.0.0.0/8 -j DROP
-A OUTPUT -p tcp -d 127.0.0.0/8 -j DROP
-A OUTPUT -p tcp -d 100.64.0.0/10 -j DROP
-A OUTPUT -p tcp -d 100.0.0.0/8 -j DROP
-A OUTPUT -p tcp -d 169.254.0.0/16 -j DROP
-A OUTPUT -p tcp -d 172.0.0.0/8 -j DROP
-A OUTPUT -p tcp -d 192.0.0.0/24 -j DROP
-A OUTPUT -p tcp -d 192.0.2.0/24 -j DROP
-A OUTPUT -p tcp -d 192.88.99.0/24 -j DROP
-A OUTPUT -p tcp -d 192.168.0.0/16 -j DROP
-A OUTPUT -p tcp -d 198.18.0.0/15 -j DROP
-A OUTPUT -p tcp -d 198.51.100.0/24 -j DROP
-A OUTPUT -p tcp -d 203.0.113.0/24 -j DROP
-A OUTPUT -p tcp -d 224.0.0.0/4 -j DROP
-A OUTPUT -p tcp -d 240.0.0.0/4 -j DROP
-A OUTPUT -p tcp -d 255.255.255.255/32 -j DROP
-A OUTPUT -p tcp -d 212.68.160.179 -j DROP

-A OUTPUT -p udp -d 0.0.0.0/8 -j DROP
-A OUTPUT -p udp -d 10.0.0.0/8 -j DROP
-A OUTPUT -p udp -d 127.0.0.0/8 -j DROP
-A OUTPUT -p udp -d 100.64.0.0/10 -j DROP
-A OUTPUT -p udp -d 100.0.0.0/8 -j DROP
-A OUTPUT -p udp -d 169.254.0.0/16 -j DROP
-A OUTPUT -p udp -d 172.0.0.0/8 -j DROP
-A OUTPUT -p udp -d 192.0.0.0/24 -j DROP
-A OUTPUT -p udp -d 192.0.2.0/24 -j DROP
-A OUTPUT -p udp -d 192.88.99.0/24 -j DROP
-A OUTPUT -p udp -d 192.168.0.0/16 -j DROP
-A OUTPUT -p udp -d 198.18.0.0/15 -j DROP
-A OUTPUT -p udp -d 198.51.100.0/24 -j DROP
-A OUTPUT -p udp -d 203.0.113.0/24 -j DROP
-A OUTPUT -p udp -d 224.0.0.0/4 -j DROP
-A OUTPUT -p udp -d 240.0.0.0/4 -j DROP
-A OUTPUT -p udp -d 255.255.255.255/32 -j DROP
-A OUTPUT -p udp -d 212.68.160.179 -j DROP
```

@TimDaub 
I would guess that you have a peer that has an address of 172.248.195.186, and you've blocked them with the rule -A OUTPUT -p udp -d 172.0.0.0/8 -j DROP. The rule that Hetzner provide, 172.16.0.0/12, would not block that address. The peer address likely comes from a tracker or DHT query. Try relaxing the firewall rule to 172.16.0.0/12.


 took answer from: https://github.com/anacrolix/torrent/issues/826#issuecomment-1512465778

more recommendations: 
https://community.hetzner.com/tutorials/block-outgoing-traffic-to-private-networks
https://ethereum.stackexchange.com/questions/6386/how-to-prevent-being-blacklisted-for-running-an-ethereum-client/13068#13068